<div class="planet-result">
    <img
      src="{{image}}"
      alt="Planet X"
      class="planet-img"
    />
    <div class="planet-info">
      <p><strong>Name:</strong> {{name}}</p>
      <p><strong>Solar System:</strong> {{solarSystem}}</p>
      <a class="detail-btn" href="/catalog/{{_id}}">Details</a>
    </div>
  </div>